<div data-section-id="chats_creator" class="section-container"><h1 class="h1 mb-4">Создание чатов/каналов</h1><div class="module-description-container alert alert-primary mb-4" data-section-id="chats_creator"></div><div class="card">
                <div class="card-body">
                    <div><div class="file-buttons-container"><button class="btn btn-light" data-button-id="xasam" id="roed37v45pg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="baseline" class="me-1 lucide" id="raxbs1gjmvf"><path d="M4 20h16"></path><path d="m6 16 6-12 6 12"></path><path d="M8 12h8"></path></svg>
                    Названия
                </button><button class="btn btn-light" data-button-id="mQOqm" id="r6mldpt447t">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="at-sign" class="me-1 lucide" id="rveouj5p1gy"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path></svg>
                    Юзернеймы
                </button><button class="btn btn-light" data-button-id="HaBsy" id="rcecm0hpu4q">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="receipt-text" class="me-1 lucide" id="r4wf2m3jmfw"><path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"></path><path d="M14 8H8"></path><path d="M16 12H8"></path><path d="M13 16H8"></path></svg>
                    Био
                </button><button class="btn btn-light" data-button-id="nikIR" id="rzmn6duwxu3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="circle-user-round" class="me-1 lucide" id="r56tz9o45lg"><path d="M18 20a6 6 0 0 0-12 0"></path><circle cx="12" cy="10" r="4"></circle><circle cx="12" cy="12" r="10"></circle></svg>
                    Аватарки
                 <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Положите сюда файлы изображений. Они будут выбираться случайно. А чтобы не выставлять аватарки вашим чатам/каналам, оставьте папку пустой."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle opacity-50 lucide" data-lucide="help-circle" is="raptor-icon" id="r80avo2hvu8"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span></button><button class="btn btn-light" data-button-id="FaxeA" id="r52mk92aygf">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="crown" class="me-1 lucide" id="rxe53lcrafr"><path d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z"></path><path d="M5 21h14"></path></svg>
                    Админы
                 <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Список админов для добавления в каждый чат/канал."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle opacity-50 lucide" data-lucide="help-circle" is="raptor-icon" id="r5juai4uqc6"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span></button><button class="btn btn-light" data-button-id="kWILn" id="riqsk1b2vrn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="message-square-text" class="me-1 lucide" id="rzazmohct3z"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path><path d="M13 8H7"></path><path d="M17 12H7"></path></svg>
                    Посты
                 <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Это посты, которые будут отправляться на все ваши чаты/каналы. Инструкцию по добавлению постов можно найти в руководстве софта."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle opacity-50 lucide" data-lucide="help-circle" is="raptor-icon" id="r4vvq387ckb"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span></button><button class="btn btn-light" data-button-id="fQuzh" id="rakg0ousncf">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" is="raptor-icon" data-lucide="clipboard-check" class="me-1 lucide" id="r4paw2gyyvl"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><path d="m9 14 2 2 4-4"></path></svg>
                    Результаты
                </button></div></div>
                </div>
            </div><div class="card">
                    <div class="card-body">
                        
                        
                        <div class="options-container"><div>
            <label for="rk4u3817yt3" class="form-label">Что создавать</label>
            
            <select class="form-select rounded-end" id="rk4u3817yt3" style="width: 200px">
                <option value="Чаты">Чаты</option>
<option value="Каналы" selected="">Каналы</option>
            </select>
        </div><div>
            <label for="r3h89d276ni" class="form-label">Сколько штук создавать с каждого аккаунта</label>
            
            <div class="input-group" style="max-width: 200px">
                <input class="form-control rounded-end" id="r3h89d276ni" spellcheck="false" autocomplete="off" placeholder="" value="3">
                
                <div class="invalid-feedback" id="invalid-feedback-for-r3h89d276ni"></div>
            </div>
        </div></div>
                    </div>
                </div><div class="card">
                    <div class="card-body">
                        <h3 class="subsection-title subsection-title-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#rsrxzb1bcdj">Какие права выдавать админам <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" class="collapse-chevron lucide" is="raptor-icon" data-lucide="chevron-down" id="rzqu3rsyvgz"><path d="m6 9 6 6 6-6"></path></svg></h3>
                        <div class="collapse" id="rsrxzb1bcdj">
                            
                            <div class="options-container"><div>
            <label for="rw51qo3nbvk" class="form-label">Изменять профиль чата/канала</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rw51qo3nbvk" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rw51qo3nbvk"></div>
            </div>
        </div><div>
            <label for="rstwvy3s6g2" class="form-label">Удалять сообщения</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rstwvy3s6g2" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rstwvy3s6g2"></div>
            </div>
        </div><div>
            <label for="rkhnc628d5m" class="form-label">Банить участников</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rkhnc628d5m" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rkhnc628d5m"></div>
            </div>
        </div><div>
            <label for="r7xwsswuzau" class="form-label">Добавлять пользователей</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r7xwsswuzau" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r7xwsswuzau"></div>
            </div>
        </div><div>
            <label for="r2a743g7eqv" class="form-label">Закреплять сообщения</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r2a743g7eqv" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r2a743g7eqv"></div>
            </div>
        </div><div>
            <label for="riruonc8k9v" class="form-label">Добавлять новых админов</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="riruonc8k9v" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-riruonc8k9v"></div>
            </div>
        </div><div>
            <label for="rj6q7vp2dvx" class="form-label">Управлять видео чатом/трансляцией</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rj6q7vp2dvx" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rj6q7vp2dvx"></div>
            </div>
        </div><div>
            <label for="rf1qz65fe9l" class="form-label">Быть анонимным админом</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Включение давнной настройки сделает админа анонимным. Он не сможет выключить свою анонимность сам."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="r4lsghrrz3i"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rf1qz65fe9l">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rf1qz65fe9l"></div>
            </div>
        </div><div>
            <label for="rk8tzpje0ba" class="form-label">Управлять топиками (для чатов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rk8tzpje0ba" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rk8tzpje0ba"></div>
            </div>
        </div><div>
            <label for="rev80aznjal" class="form-label">Публиковать посты (для каналов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rev80aznjal" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rev80aznjal"></div>
            </div>
        </div><div>
            <label for="rs3l2w0xkl0" class="form-label">Редактировать посты (для каналов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rs3l2w0xkl0" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rs3l2w0xkl0"></div>
            </div>
        </div><div>
            <label for="r8o14tjpfdl" class="form-label">Управлять сторисами (для каналов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r8o14tjpfdl" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r8o14tjpfdl"></div>
            </div>
        </div></div>
                        </div>
                    </div>
                </div><div class="card">
                    <div class="card-body">
                        <h3 class="subsection-title subsection-title-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#rzoqc09wo8x">Права участников (для чатов) <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" class="collapse-chevron lucide" is="raptor-icon" data-lucide="chevron-down" id="rulhgz1pal1"><path d="m6 9 6 6 6-6"></path></svg></h3>
                        <div class="collapse" id="rzoqc09wo8x">
                            
                            <div class="options-container"><div>
            <label for="rn85xiq8udf" class="form-label">Отправлять сообщения</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rn85xiq8udf" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rn85xiq8udf"></div>
            </div>
        </div><div>
            <label for="ri7fdsaa6l1" class="form-label">Отправлять медиа</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="ri7fdsaa6l1" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-ri7fdsaa6l1"></div>
            </div>
        </div><div>
            <label for="rjfo73fjyol" class="form-label">Отправлять опросы</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rjfo73fjyol" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rjfo73fjyol"></div>
            </div>
        </div><div>
            <label for="rjsin0hqbww" class="form-label">Приглашать пользователей</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rjsin0hqbww" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rjsin0hqbww"></div>
            </div>
        </div><div>
            <label for="rm7jqgua3hz" class="form-label">Изменять профиль чата</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rm7jqgua3hz">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rm7jqgua3hz"></div>
            </div>
        </div><div>
            <label for="rddoac7mfnt" class="form-label">Закреплять сообщения</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rddoac7mfnt">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rddoac7mfnt"></div>
            </div>
        </div><div>
            <label for="r55wjirdgnu" class="form-label">Управлять топиками</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r55wjirdgnu">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r55wjirdgnu"></div>
            </div>
        </div></div>
                        </div>
                    </div>
                </div><div class="card">
                    <div class="card-body">
                        <h3 class="subsection-title subsection-title-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#rvqqw2jw8nj">Какие ошибки пропускать <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" class="collapse-chevron lucide" is="raptor-icon" data-lucide="chevron-down" id="rel2urc24xr"><path d="m6 9 6 6 6-6"></path></svg></h3>
                        <div class="collapse" id="rvqqw2jw8nj">
                            
                            <div class="options-container"><div>
            <label for="rnmujoaf119" class="form-label">Пропускать ошибки при добавлении админов</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="При включении данной настройки аккаунт продолжит создавать чаты/каналы, даже если не смог добавить кого-то из админов. Ошибка может заключаться в том, что админ не найден, или у него стоит запрет на добавление в группы, или наш аккаунт получил слишком большую задержку и т.д."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="rkoezy8yo2f"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rnmujoaf119">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rnmujoaf119"></div>
            </div>
        </div><div>
            <label for="rsuqfe47mi9" class="form-label">Пропускать ошибки при отправке постов</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="При включении данной настройки аккаунт продолжит создавать чаты/каналы, даже если не смог отправить какой-то из постов. Ошибка может заключаться например в том, что наш аккаунт получил слишком большую задержку."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="rqn6887ivfe"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rsuqfe47mi9">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rsuqfe47mi9"></div>
            </div>
        </div></div>
                        </div>
                    </div>
                </div><div class="card">
                    <div class="card-body">
                        <h3 class="subsection-title subsection-title-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#rhw9mk2vbcu">Разные настройки <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" class="collapse-chevron lucide" is="raptor-icon" data-lucide="chevron-down" id="rfteh309xy0"><path d="m6 9 6 6 6-6"></path></svg></h3>
                        <div class="collapse" id="rhw9mk2vbcu">
                            
                            <div class="options-container"><div>
            <label for="rtr7kcgp44o" class="form-label">Закреплять канал в профиле создателя</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rtr7kcgp44o">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rtr7kcgp44o"></div>
            </div>
        </div><div>
            <label for="rql45s5rz4i" class="form-label">Отключить реакции</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rql45s5rz4i">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rql45s5rz4i"></div>
            </div>
        </div><div>
            <label for="r49i5cgsmnw" class="form-label">Задержка между отправками постов</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Можно указать диапазон. Например &quot;5-20&quot;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="r54kfw64g81"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group" style="max-width: 200px">
                <input class="form-control has-trailing-label" id="r49i5cgsmnw" spellcheck="false" autocomplete="off" placeholder="" value="0">
                <span class="input-trailing-label">сек</span>
                <div class="invalid-feedback" id="invalid-feedback-for-r49i5cgsmnw"></div>
            </div>
        </div><div>
            <label for="r4v20i4l96e" class="form-label">Закреплять первый пост</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r4v20i4l96e">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r4v20i4l96e"></div>
            </div>
        </div><div>
            <label for="rca7a8ro4fd" class="form-label">Задержка после создания каждого чата/канала</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Можно указать диапазон. Например &quot;5-20&quot;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="r7u4wux0ftm"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group" style="max-width: 200px">
                <input class="form-control has-trailing-label" id="rca7a8ro4fd" spellcheck="false" autocomplete="off" placeholder="" value="0">
                <span class="input-trailing-label">сек</span>
                <div class="invalid-feedback" id="invalid-feedback-for-rca7a8ro4fd"></div>
            </div>
        </div><div>
            <label for="rx4aiikt7w4" class="form-label">Медленный режим (для чатов)</label>
            
            <select class="form-select rounded-end" id="rx4aiikt7w4" style="width: 200px">
                <option value="Отключено" selected="">Отключено</option>
<option value="10 секунд">10 секунд</option>
<option value="30 секунд">30 секунд</option>
<option value="1 минута">1 минута</option>
<option value="5 минут">5 минут</option>
<option value="15 минут">15 минут</option>
<option value="1 час">1 час</option>
            </select>
        </div><div>
            <label for="r3azfa4s3pt" class="form-label">Включить топики (для чатов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="r3azfa4s3pt">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-r3azfa4s3pt"></div>
            </div>
        </div><div>
            <label for="rwxhc9pchxr" class="form-label">Показывать историю для новых участников (для чатов)</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rwxhc9pchxr" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rwxhc9pchxr"></div>
            </div>
        </div><div>
            <label for="rqea13qtxjf" class="form-label">Таймер самоуничтожения сообщений (для чатов)</label>
            
            <div class="input-group" style="max-width: 200px">
                <input class="form-control has-trailing-label" id="rqea13qtxjf" spellcheck="false" autocomplete="off" placeholder="Отключено" value="">
                <span class="input-trailing-label">сек</span>
                <div class="invalid-feedback" id="invalid-feedback-for-rqea13qtxjf"></div>
            </div>
        </div><div>
            <label for="rhwmx4bvo9q" class="form-label">Покидать группу/канал после создания</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rhwmx4bvo9q">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rhwmx4bvo9q"></div>
            </div>
        </div><div>
            <label for="rg46h7hn9ak" class="form-label">Удалить системные сообщения после создания</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Данная настройка позволит удалить системные сообщения. Например, о смене аватарки и добавлении админов."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="ryzyxq53hnj"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rg46h7hn9ak" checked="">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rg46h7hn9ak"></div>
            </div>
        </div><div>
            <label for="rv7zc0s3g98" class="form-label">Делать создателя анонимным</label>
            <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="Данная настройка может быть полезна для чатов. Если её включить, то посты будут размещаться от имени самого чата, а не от имени его создателя."><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-middle lucide" data-lucide="help-circle" is="raptor-icon" id="rcrpf28vvg7"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg></span>
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rv7zc0s3g98">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rv7zc0s3g98"></div>
            </div>
        </div><div>
            <label for="rwixw9y332c" class="form-label">Запретить копирование контента</label>
            
            <div class="input-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rwixw9y332c">
                </div>
                <div class="invalid-feedback" id="invalid-feedback-for-rwixw9y332c"></div>
            </div>
        </div></div>
                        </div>
                    </div>
                </div></div>